:root {
    --border-radius: 0.8em;
    --padding: 1em;
    --p-font-size: 1.2em;
    --h-font-size: 1.4em;
    /* Light color scheme */
    --bg-color: #f9f8f6;
    --fg-color: #f5f5f0;
    --border-color: #e0d9d9;
    --txt-color: #57595b;
}

p,
a {
    color: var(--txt-color);
    text-decoration: none;
    font-size: var(--p-font-size);
}

* {
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    justify-content: center;
    grid-template-rows: auto 1fr auto;
    margin: 1%;
    background-color: var(--bg-color);
}


footer,
main {
    border-radius: var(--border-radius);
    border: solid 1px var(--border-color);
    width: 50em;
    background-color: var(--fg-color);
}

header {
    width: 50em;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    p {
        font-weight: bold;
        cursor: pointer;
    }
    ul {
        list-style: none;
        display: flex;
        gap: 2em;
    }
}

main {
    padding: 1em;
    article {
        padding: var(--padding);
        p {
            margin: 1rem 0 1rem 0;
        }
        margin: 1rem 0 1rem 0;
    }
    a > article {
        border: 2px solid var(--fg-color);
        border-radius: var(--border-radius);
        transition: border-color ease-in-out 0.3s;
    }
    a:hover > article {
        border-color: var(--border-color);
    }
}

footer {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    p {
        a {
            text-decoration: underline;
            text-underline-offset: 0.3em;
            transition: color ease-in-out 0.3;
            font-size: 1.2rem;
        }
        a:hover {
            color: gray;
        }
    }
}

.page-top::after {
    content: "\F139";
    font-family: bootstrap-icons;
    font-size: 0.8rem;
    margin-left: 0.4rem;
    transition: color ease-in-out 0.3s;
}

a:hover.page-top {
    color: gray;
}

.no-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

figure {
    padding: 2em;
    color: var(--txt-color);
}

button {
    background-color: transparent;
    font-size: 1.5em;
    color: var(--txt-color);
    border: none;
    cursor: pointer;
}


blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

@media(max-width: 900px) {
    header, main, footer {
        width: 100%;
    }
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1em;
    }
}